@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  overflow-x:hidden;
  overflow-y:hidden;
}

link {
  display: flexbox;
  flex-direction: column;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  height: 100vh;
  padding: 30px;
}

.display{
  margin: 0px auto 20px auto;
  overflow: auto;
  height: 320px;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-number {
  font-family: 'Russo One', sans-serif;
  text-align: center;
  font-size: 64px;
}

.display-number::after {
  content:"€";
}

.money-list {
  max-width: 100%;
  margin: 0px auto;
  margin-top: 30px;
  padding: 20px;
}

.money-form {
  max-width: 100%;
  margin: 0px auto;
  overflow: auto;
  height: 370px;
  margin-top: 30px;
  padding: 20px;
}

.money-form label {
  margin: 7px 0;
  display: block;
}

.money-form input,.money-form select {
  width: 100%;
  height: 40px;
  font-size: 17px;
}

.list-container {  
  display: flex;
  flex-direction: column;
  justify-content: center ;
}

.expense {
  color:white;
  margin: 5px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: auto auto;
}

.utile {
  background-color: #006600;
}

.forse {
  background-color: #FFA500;
}

.inutile {
  background-color: 	#cc0000;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center ;
}

.moneyExpense {
  text-align: right;
}

.moneyExpense::after{
  content:"€";
}

.button {
  flex-grow: 1;
  background:slateblue;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 14px;
  margin: 30px 5px 0px 0px;
}

.button:active {
  transform: scale(0.98);
}
